.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  width: 25vw;
  min-width: 450px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  margin: auto;
  padding: 40px;
  /* border-radius: 12px; */
  border: 15px solid black;
  background-color: white;
  font-size: 32px;
}

.form-element {
  margin-bottom: 2vh;
}

.form-label {
  display: block;
  text-align: left;
  font-size: 32px;
  font-weight: 700;
  width: fit-content;
  color: black;
  transition: .3s;
}

.form-input {
  background-color: white;
  text-align: left;
  margin: 0;
  padding: 0;
  height: 40px;
  width: 100%;
  border: 2px solid transparent;
  border-bottom: 2px solid black;
  box-sizing: border-box;
  transition: .3s;
  font-size: 20px;
}

.form-input:focus, .form-input:hover {
  outline-color: var(--purple);
  border-radius: 5px;
  border: 2px solid var(--purple);
}

.form-input:focus + label, .form-input:hover + label {
  color: var(--purple);
}

#category-dropdown {
  background: none;
}

.form-textarea {
  height: 100px;
}

.form-button-group {
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 100px;
  margin-top: 5vh;
}

.form-button {
  height: 60px;
  width: 150px;
  border: 2px solid black;
  border-radius: 5px;
  background: white;
  font-size: 20px;
  font-weight: 700;
  color: black;
  transition: .3s;
}

.form-button:hover {      
  color: var(--purple);
  border: 3px solid var(--purple);
}

.textarea {
   border:1px solid #999999;
   width:100%;
   margin:5px 0;
   padding:3px;
}

.submit-ticket {
  position: absolute;
  top: 50%; right: 50%;
  transform: translate(50%,-50%);
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 40%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 12px;
  background-color: white;
  border: black 2px solid;
}

.title {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  align-items: center;
  margin-bottom: 3vh; margin-top: 3vh;
  font-size: 20px;
  background: red;
  background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
  background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
  background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
  background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.submit-ticket__button {
  align-items: center;
  position: relative;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #40005d;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 12px;
  cursor: pointer; 
  opacity: .8;
  margin-bottom: 1vh; margin-top: 2vh;
 }

 .submit-ticket__button:hover {
  color: #40005d;
  background-color: white;
  opacity: 1;
 }

.submit-ticket__button:hover {
  color: #40005d;
  background-color: white;
  opacity: 1;
}

.submit-ticket__button:active {
  transform: scale(.97);
}

 @media (min-width: 580px)
 {
   /* .submit-ticket__button
   {
      font-size: 1.25rem;
      padding: 0.5rem 1.5rem;
   } */
 }
 .submit-ticket__priority-level {
   /* justify-content: inline-block; */
   color: white;
   display: flex;
   justify-content: space-evenly;
   width: auto;
 }

 .priority-level__text{
   padding-left: 2vh;
   color:cadetblue;
   border: solid green 2px;
   margin-left: 20px;
 }

 .priority-select {
   padding-left: 2vh;
   color:cadetblue;
 }

@media screen and (min-width: 1800px) {
  .form {
    padding: 60px;
    border: 22px solid black;
  }

  .form-label {
    font-size: 51px;
  }

  .form-input {
    height: 60px;
    font-size: 32px;
    border: 3px solid transparent;
    border-bottom: 3px solid black;
  }

  .form-input:focus, .form-input:hover {
    border: 3px solid var(--purple);
  }

  .form-textarea {
    height: 150px;
  }

  .form-button-group {
    height: 150px;
  }

  .form-button {
    height: 90px;
    width: 225px;
    border: 3px solid black;
    font-size: 32px;
  }
  
  .form-button:hover {      
    color: var(--purple);
    border: 5px solid var(--purple);
  }
}

 @media screen and (max-width: 1200px) {
   .form-label {
     font-size: 20px;
   }

   .form-input {
     font-size: 12px;
   }
 }

 @media screen and (max-width: 768px) {
   .form {
     min-width: 350px;
   }
 }