table 
{
   border-radius: 5px;
   width: 100%;
   color: black;
 }
 
 table td, table th 
 {
   text-align: left;
   padding: 10px;
   border-top: 1px solid black;
   border-bottom: 1px solid black;
 }

 .ticket-log-container {
   padding: 50px;
 }

 .ticket-log-table {
  border-collapse: separate;
  border-spacing: 0 10px;
 }

 .ticket-log-table-header
 {
   background-color: var(--purple);
 }