table 
{
   border: 1px solid black;
   border-radius: 5px;
   width: 100%;
   color: white;
 }
 
 table td, table th 
 {
   text-align: left;
   padding: 10px;
 }
 
 table th 
 {
   background-color: var(--purple);
 }

 .ticket-log-container {
   padding: 50px;
 }

 .ticket-log-table {
  border-collapse:separate; 
  border-spacing:5em;
 }