.modal-background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 80vh;
  width: 35vw;
  background: white;
  z-index: 1;
}

.modal-close-button {
  position: absolute;
  top: 5%;
  right: 5%;
}