.modal-background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 600px;
  width: 350px;
  background-color: white;
  border-radius: 5px;
  border: 15px solid black;
  border-top: 30px solid black;
  z-index: 1;
}

.modal-close-x {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.modal-close-x:hover {
  color: var(--purple);
}

.modal-close-button {
  position: absolute;
  top: 30px;
  right: 30px;
  height: 35px;
  width: 35px;
  background-color: white;
  border: none;
}

.modal-close-image {
  height: 30px;
  width: 30px;
  transition: .3s;
}

.modal-close-image:hover {
  height: 33px;
  width: 33px;
}

.display-none {
  display: none;
}

@media screen and (max-width: 410px) {
  .modal {
    box-sizing: border-box;
  }
}

@media screen and (min-width: 1800px) {
  .modal {
    border: 22px solid black;
    height: 900px;
    width: 570px;
    border-top: 40px solid black;
  }

  .modal-close-button {
    top: 45px;
    right: 45px;
    height: 52px;
    width: 52px;
  }

  .modal-close-image {
    height: 45px;
    width: 45px;
  }

  .modal-close-image:hover {
    height: 50px;
    width: 50px;
  }
}