.modal-background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 80vh;
  width: 30vw;
  background-color: white;
  border: 15px solid black;
  z-index: 1;
}

.modal-close-button {
  position: absolute;
  top: 30px;
  right: 30px;
  height: 35px;
  width: 35px;
  border: none;
}

.modal-close-image {
  height: 30px;
  width: 30px;
  transition: .3s;
}

.modal-close-image:hover {
  height: 33px;
  width: 33px;
}