.password-resent-feedback {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  visibility: hidden;
  z-index: 1;
  background-color: black;
  border-radius: 5px;
}

.password-resent-check {
  color: #89F822;
  margin: 5px;
}

.password-resent-text {
  margin: 5px;
  color: white;
}

.fade {
  opacity: 0;
  visibility: visible;
  animation: fade 4s linear;
}

@keyframes fade {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

.resend-password-employee-dropdown {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  height: 40px;
  width: 80%;
  font-size: var(--body-font-size);
  border: 2px solid transparent;
  border-bottom: 2px solid black;
  border-radius: 5px 5px 0 0;
  box-sizing: border-box;
  background-color: white;
}

.resend-password-employee-dropdown:hover,
.resend-password-employee-dropdown:focus {
  outline-color: var(--orange);
  border-radius: 5px;
  border: 2px solid var(--orange);
}

.resend-password-submit-button {
  position: absolute;
  bottom: 27%;
  left: 50%;
  transform: translate(-50%, 150%);
  height: 45px;
  width: 60%;
  border-radius: 25px;
  border: 2px solid black;
  font-size: var(--body-font-size);
  font-weight: 700;
  background-color: white;
  color: black;
}

.resend-password-submit-button:hover,
.resend-password-submit-button:focus {
  border: 3px solid var(--orange);
  color: var(--orange);
}

@media screen and (min-width: 1800px) {
  .resend-password-employee-dropdown {
    font-size: var(--heading-font-size);
    height: 75px;
    width: 80%;
    border: 3px solid transparent;
    border-bottom: 3px solid black;
  }

  .resend-password-employee-dropdown:focus, .resend-password-employee-dropdown:hover {
    border: 3px solid var(--orange);
  }

  .resend-password-submit-button {
    height: 67px;
    border: 3px solid black;
    font-size: 32px;
  }
 
  .resend-password-submit-button:hover {
    border: 5px solid var(--orange);
  }
}