.logo {
	position: absolute;
	top: 1vh;
	left: 7vw;
	width: 1px;
	font-size: var(--heading-font-size);
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-right: 7vw;
	height: 10vh;
	min-width: 350px;
	float: right;
}

.navbar-button {
	height: 100%;
	max-width: 100px;
	min-width: 50px;
	background-color: transparent;
	font-size: var(--body-font-size);
	font-weight: 700;
	border: none;
	transition: .3s;
}

.navbar-button:hover {
	color: var(--purple);
}

.user-modal-button-group {
	position: absolute;
	top: -5%;
	height: 5%;
	width: 100%;
}

.user-modal-button {
	height: 100%;
	width: 80px;
	background-color: black;
	color: white;
	transition: .3s;
	border: none;
	font-size: var(--body-font-size);
	white-space: nowrap;
}

.user-modal-button:hover {
	background-color: white;
	color: var(--purple);
	border: none;
}

.user-modal-button:disabled {
	background-color: white;
	color: black;
	cursor: auto;
}

.display-none {
	display: none;
}

@media screen and (max-width: 768px) {
	.logo {
		top: 12vh;
		left: 0;
		text-align: center;
		width: 100vw;
	}

	.navbar {
		float: none;
		padding: 0;
		margin: 0;
	}
}

@media screen and (min-width: 1800px) {
	.logo {
		font-size: 51px;
	}

	.navbar-button {
		width: 150px;
		font-size: 32px;
	}

	.user-modal-button {
		font-size: 32px;
	}
}

/* @media screen and (max-width: 1200px) {
	.logo {
		font-size: 20px;
	}

	.navbar-button {
		width: 50px;
		font-size: 12px;
	}
} */