.ticket-table-container {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
  max-height: 60vh;
  width: fit-content;
  max-width: 80vw;
  overflow-y: scroll;
  border: 5px solid black;
  border-radius: 5px;
}

.ticket-table {
  border-collapse: collapse;
  border-radius: 5px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  font-size: var(--body-font-size);
  font-family: sans-serif;
  /* min-width: 400px; */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.ticket-table thead tr {
  background-color: black;
  color: #ffffff;
  text-align: left;
}

.ticket-table td {
  padding: 12px 15px;
  border: 1px solid #ffffff;
  max-width: 250px;
}

.ticket-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.ticket-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.ticket-table tbody tr:nth-of-type(odd)>td {
  border-color: #f3f3f3;
}

.ticket-table tbody tr:last-of-type {
  border-bottom: 2px solid black;
}

.ticket-table tbody {
  font-size: var(--body-font-size);
}

/* .ticket-table-header {
  transition: .3s;
} */

.ticket-table-header:hover {
  background-color: white;
}

.ticket-table-header-button {
  height: 100%;
  width: 100%;
  background: black;
  color: white;
  font-size: var(--body-font-size);
  font-weight: 700;
  border: 2px solid transparent;
  /* transition: .3s; */
}

.ticket-table-header-button:hover {
  background: white;
  color: var(--purple);
  border: 2px solid black;
}

.ticket-table-row {
  cursor: pointer;
}

.ticket-table tbody tr:nth-of-type(even):hover,
.ticket-table tbody tr:nth-of-type(odd):hover {
  background-color: lightgrey;
  color: var(--purple);
}

.selected-ticket-data-group {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 90%;
  transform: translateX(-50%);
}

.selected-ticket-row {
  position: relative;
  display: flex;
  align-items: center;
}

.selected-ticket-label {
  display: inline-block;
  margin-right: 5px;
  font-size: var(--body-font-size);
  color: black;
  font-weight: bold;
  /* transition: .3s; */
}

.selected-ticket-data {
  display: inline-block;
  margin: 10px 0 10px 0;
  max-width: 240px;
  word-wrap: break-word;
}

.selected-ticket-textarea {
  height: 80px;
  max-height: 80px;
  width: 240px;
  max-width: 240px;
}

.selected-ticket-button-group {
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.selected-ticket-button {
  height: 60px;
  width: 150px;
  border: 2px solid black;
  border-radius: 5px;
  background: white;
  font-size: var(--body-font-size);
  font-weight: 700;
  color: black;
}

.selected-ticket-button:hover {      
  color: var(--purple);
  border: 3px solid var(--purple);
}

.empty-ticket-table-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@media screen and (max-width: 768px) {
  .ticket-table-container {
    top: 30vh;
    transform: translateX(-50%);
    max-width: 100vw;
    border: none;
  }

  .ticket-table-priority-column,
  .ticket-table-urgency-column {
    visibility: collapse;
  }
}

@media screen and (min-width: 1800px) {
  .ticket-table-header-button {
    font-size: 32px;
  }

  .ticket-table tbody{
    font-size: 32px;
  }
}