.form {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 30%;
  min-width: 450px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  margin: auto;
  padding: 60px;
  border-radius: 12px;
  background-color: white;
  font-size: 25px;
}

.form-element {
  margin-bottom: 50px;
}

.form-label {
  display: block;
  text-align: left;
  font-weight: 500;
  width: fit-content;
  color: var(--purple);
}

.form-input {
  text-align: left;
  margin: 0;
  padding: 0;
  height: 40px;
  width: 100%;
  border: none;
  border-bottom: 2px solid black;
  font-size: 18px;
  box-sizing: border-box;
}

.form-input:focus {
  outline: none;
  border-bottom: 4px solid var(--purple);
}

#category-dropdown {
  background: none;
}

.form-textarea {
  height: 100px;
}

.form-button-group {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.form-button {
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 5px;
  background: var(--purple);
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.textarea
{
   border:1px solid #999999;
   width:100%;
   margin:5px 0;
   padding:3px;
}
.submit-ticket
{
  position: absolute;
  top: 50%; right: 50%;
  transform: translate(50%,-50%);
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 40%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 12px;
  background-color: white;
  border: black 2px solid;
}
.title {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  align-items: center;
  margin-bottom: 3vh; margin-top: 3vh;
  font-size: 20px;
  background: red;
  background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
  background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
  background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
  background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


}

.submit-ticket__button
{

  align-items: center;
  position: relative;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #40005d;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 12px;
  cursor: pointer; 
  opacity: .8;
  margin-bottom: 1vh; margin-top: 2vh;
 }

 .submit-ticket__button:hover {
  color: #40005d;
  background-color: white;
  opacity: 1;
  
 }


.submit-ticket__button:hover {
  color: #40005d;
  background-color: white;
  opacity: 1;
}

.submit-ticket__button:active {
  transform: scale(.97);
}

 @media (min-width: 580px)
 {
   /* .submit-ticket__button
   {
      font-size: 1.25rem;
      padding: 0.5rem 1.5rem;
   } */
 }
 .submit-ticket__priority-level {
   /* justify-content: inline-block; */
   color: white;
   display: flex;
   justify-content: space-evenly;
   width: auto;
    
 }
 .priority-level__text{
   padding-left: 2vh;
   color:cadetblue;
   border: solid green 2px;
   margin-left: 20px;
 }

 .priority-select {
   padding-left: 2vh;
   color:cadetblue;


 }

 @media screen and (max-width: 768px) {
   .form {
     min-width: 350px;
   }
 }