:root {
  --purple: rgb(145, 34, 248);
}

button {
  cursor: pointer;
}

.submit-ticket-container {
  height: 100vh;
}

.submit-ticket-heading {
  position: relative;
  text-align: center;
  font-weight: 500;
  font-size: 40px;
}

.ticket-log-heading {
  position: absolute;
  text-align: center;
  font-weight: 500;
  left: 50%;
  transform: translate(-50%);
  bottom: 1%;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}  */
