.submit-ticket-heading {
  position: relative;
  text-align: center;
}

.ticket-log-heading {
  position: relative;
  text-align: center;
}

.App {
  position: relative;
  /* top: 50%; right: 50%;
  transform: translate(50%,-50%); */
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 40%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
  margin: auto;
  border-radius: 12px;
  background-color: white;
  border: black 2px solid;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}  */
