.create-account-form-input-group {
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 20px;
  padding: 50px;
}

.create-account-form-label {
  font-size: 30px;
}

.create-account-form-input {
  font-size: 28px;
}

 .status-400 {
   border-color: red;
 }