

.create-account-heading {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-weight: normal;
}

.create-account-form-input-group {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 25%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.create-account-form-label {
  font-size: var(--heading-font-size);
  color: black;
  display: block;
  font-weight: bold;
  transition: .3s;
}

.create-account-form-input {
  font-size: var(--body-font-size);
  height: 50px;
  width: 100%;
  border: 2px solid transparent;
  border-bottom: 2px solid black;
  box-sizing: border-box;
  transition: .3s;
}

.create-account-form-input:focus, .create-account-form-input:hover {
  outline-color: var(--purple);
  border-radius: 5px;
  border: 2px solid var(--purple);
}

.create-account-form-input:focus + label, .create-account-form-input:hover + label {
  color: var(--purple);
}

.create-account-submit-button {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, 50%);
  height: 45px;
  width: 60%;
  border-radius: 5px;
  border: 2px solid black;
  font-size: var(--body-font-size);
  font-weight: 700;
  background-color: white;
  color: black;
  transition: .3s;
}

.create-account-submit-button:hover {
  border: 3px solid var(--purple);
  color: var(--purple);
}



.error-message{
  border: orangered 1px;
  z-index: 3;
  position: absolute;
  align-content: center;
  top: 73%;
  left: 50%;
  transform: translate(-50%);
  width: fit-content;
  font-size: 15px;
  color: red;
}

 .status409 {
   border-color: red;
 }

 .status500 {
  border-color: red;
 }


.noName {
  border-color: red;

}
 
 .invalidPassword {
  border-color: red;
  
 }
 .passwordLength {
  border-color: red;

 }
 .invalidEmail {
  border-color: red;
}


 @media screen and (min-width: 1800px) {
   .create-account-form-label {
     font-size: 51px;
   }

   .create-account-form-input {
    font-size: 32px;
    height: 75px;
    width: 100%;
    border: 3px solid transparent;
    border-bottom: 3px solid black;
  }

  .create-account-form-input:focus, .create-account-form-input:hover {
    border: 3px solid var(--purple);
  }

  .create-account-submit-button {
    height: 67px;
    border: 3px solid black;
    font-size: 32px;
  }

  .create-account-submit-button:hover {
    border: 5px solid var(--purple);
  }
 }