.resend-password-employee-dropdown {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  height: 40px;
  width: 80%;
  font-size: var(--body-font-size);
  border: 2px solid transparent;
  border-bottom: 2px solid black;
  border-radius: 5px 5px 0 0;
  box-sizing: border-box;
}

.resend-password-employee-dropdown:hover,
.resend-password-employee-dropdown:focus {
  outline-color: var(--purple);
  border-radius: 5px;
  border: 2px solid var(--purple);
}

.resend-password-submit-button {
  position: absolute;
  bottom: 27%;
  left: 50%;
  transform: translate(-50%, 150%);
  height: 45px;
  width: 60%;
  border-radius: 25px;
  border: 2px solid black;
  font-size: var(--body-font-size);
  font-weight: 700;
  background-color: white;
  color: black;
}

.resend-password-submit-button:hover,
.resend-password-submit-button:focus {
  border: 3px solid var(--purple);
  color: var(--purple);
}